// about-us-page
.about-us-wrapper {
    h3 {
        text-align: start;
        width: 50%;
        text-transform: uppercase;
        @include font-applying(82px, $font-text, 300);
        color: #ffffff;
    }
    p {
        word-wrap: break-word;
        @include font-applying(32px, $font-text, 400);
        color: #ffffff;
        width: 50%;
    }
    .about-butns-wrap {
        width: 36%;
        padding-top: 56px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
    .about-learn-butn {
        width: 200px;
    }
}
.about-2nd-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.about-2nd-back-pic {
    min-height: 578px;
    // max-height: 578px;
    min-width: 50%;
    // max-width: 50%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.about-2nd-back-para {
    width: 50%;
    min-height: 578px;
    padding: 140px 132px 50px 149px;
    h3 {
        @include font-applying(48px, $font-text, 300);
        color: #262f2c;
        text-align: start;
        word-wrap: break-word;
        text-transform: uppercase;
    }
    p {
        @include font-applying(16px, $font-text, 300);
        color: #262f2c;
        word-wrap: break-word;
    }
}
.about-row-revrs {
    flex-flow: row-reverse wrap;
}
.about-3rd-wrapper {
    width: 100%;
    height: auto;
    margin-top: 90px;
    margin-bottom: 100px;
    h4 {
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        @include font-applying(48px, $font-text, 300);
        color: #262f2c;
    }
    .about-3rd-wrap {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .about-3rd-wrap-div {
        margin-top: 70px;
        width: 270px;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        h4 {
            padding-top: 40px;
            @include font-applying(26px, $font-text, 400);
            color: #000000;
            text-align: center;
            word-wrap: break-word;
            text-transform: capitalize;
        }
        h6 {
            color: #df3b2e;
            @include font-applying(12px, $font-text, 500);
            text-align: center;
            word-wrap: break-word;
            text-transform: uppercase;
        }
        p {
            color: #262f2c;
            @include font-applying(16px, $font-text, 300);
            text-align: center;
            word-wrap: break-word;
        }
    }
    .about-us-1 {
        min-height: 62px;
        max-height: 62px;
        min-width: 74px;
        max-width: 74px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .about-us-2 {
        min-height: 83px;
        max-height: 83px;
        min-width: 85px;
        max-width: 85px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .about-us-3 {
        min-height: 71px;
        max-height: 71px;
        min-width: 107px;
        max-width: 107px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }
}