// blog-listing page
.blog-listing-head {
    width: 100%;
    padding: 30px 0 30px;
    height: auto;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dddddd;
    h1 {
        @include font-applying(32px, $font-text, 400);
        color: #4e4e4e;
        text-align: start;
        width: 60%;
    }
    .has-search .form-control {
        width: 85%;
        height: 26px;
        margin-left: 15%;
        padding-left: 0px;
        background-color: #ffffff;
        border: none; 
        border-bottom: 1px solid #dddddd;
        border-radius: 0;
        color: #4e4e4e;
        @include font-applying(14px, $font-text, 400);
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        font-size: 14px;
        font-weight: 600;
        width: 17.5px;
        height: 17.5px;
        line-height: 1.7rem;
        text-align: center;
        pointer-events: none;
        color: #4e4e4e;
    }
    .div-wide-sp {
        width: 16%;
    }
}
// .blog-list-sp-padding {
//     padding: 0 60px;
// }
.blog-listing-butn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.blog-list-butn {
    width: 200px;
}