// Blog Details page
.blog-clr-sp-div {
    background-color: #FFFFFF;
}

.blog-detail-wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    .blog-banner-pic {
        margin: 0 auto;
        width: 1000px;
        height: 500px;
        max-width: 1000px;
        max-height: 500px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    .blog-detail-wrapper-new {
        width: 700px;
        margin: 0 auto;
        h4 {
            float: left;
            width: 100%;
            padding: 20px 0 40px;
            text-transform: uppercase;
            @include font-applying(70px, $font-text, 300);
            color: #000000;
            word-wrap: break-word;
            text-align: center;
        }
        h6 {
            @include font-applying(18px, $font-text, 600);
            color: #df3b2e;
            text-align: center;
            width: 100%;
            padding: 0 0 89px;
            word-wrap: break-word;
            float: left;
        }
        p {
            float: left;
            width: 100%;
            padding: 0;
            @include font-applying(16px, $font-text, 300);
            color: #262f2c;
            text-align: start;
            word-wrap: break-word;
        }
        h3 {
            @include font-applying(32px, $font-text, 700);
            color: #000000;
            text-align: start;
            word-wrap: break-word;
            width: 100%;
            padding: 15px 0;
            float: left;
        }
        span {
            width: 100%;
            float: left;
            padding: 40px 0 30px 20px;
            @include font-applying(16px, $font-text, 300);
            color: #262f2c;
        }
        a {
            float: left;
            text-decoration: none;
            color: #1975e8;
            &:hover {
                text-decoration: none;
                color: #000000;
            }
        }
        ul,
        ol {
            float: left;
            padding: 60px 24% 60px 25.5%;
        }
        img {
            margin: 0;
            min-width: 100%;
            min-height: 500px;
            max-width: 100%;
            max-height: 500px;
            float: left;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden
        }
        .row {
            img {
                min-width: 100%;
                min-height: 362px;
                max-width: 100%;
                max-height: 362px;
                margin: 60px 0 0 0;
                float: left;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                overflow: hidden;
            }
        }
    }
}

.blog-social-share {
    position: fixed;
    z-index: 10;
    right: 0;
    top: 50%;
    width: 54px;
    height: 153px;
    float: right;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #dddddd;
    padding: 27px 0 7px 0;
}

.blog-share-fb {
    width: 8px;
    height: 16px;
    margin-bottom: 25px;
}

.blog-share-insta {
    width: 16px;
    height: 16px;
    margin-bottom: 25px;
}

.blog-share-tweet {
    width: 14px;
    height: 12px;
    margin-bottom: 25px;
}

.blog-share-linked {
    width: 13px;
    height: 13px;
    margin-bottom: 25px;
}

.guide-may-like {
    width: 100%;
    float: left;
    height: auto;
    h4 {
        float: left;
        text-align: start;
        width: 100%;
        padding: 20px 2.5%;
        @include font-applying(32px, $font-text, 400);
        color: #4e4e4e;
        padding-bottom: 30px;
    }
}

.guide-like-wrapper {
    width: 100%;
    margin-bottom: 50px;
    // padding: 0 35px 0 35px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.blog-sp-set-div {
    h2 {
        padding-top: 23px;
    }
    h3 {
        padding-top: 5px !important;
    }
}

.guide-like-wrap {
    width: 31%;
    min-height: 491px;
    margin-bottom: 50px;
    h2 {
        width: 100%;
        @include font-applying(14px, $font-text, 500);
        color: #262F2C;
        padding-left: 10px;
        margin-bottom: 5px;
        float: left;
        text-align: start;
        word-wrap: break-word;
        text-transform: uppercase;
    }
    h3 {
        width: 100%;
        @include font-applying(23px, $font-text, 500);
        color: #262f2c;
        padding-top: 23px;
        padding-left: 10px;
        float: left;
        text-align: start;
        word-wrap: break-word;
        text-transform: uppercase;
    }
    h4 {
        width: 68%;
        @include font-applying(12px, $font-text, 500);
        color: #4e4e4e;
        padding-left: 10px;
        float: left;
        text-align: start;
        padding-bottom: 0px;
        word-wrap: break-word;
        margin-bottom: 15px;
    }
    h5 {
        width: 32%;
        @include font-applying(12px, $font-text, 500);
        color: #4e4e4e;
        padding-left: 10px;
        float: right;
        text-align: start;
        padding-bottom: 0px;
        word-wrap: break-word;
        margin-bottom: 15px;
    }
    p {
        width: 100%;
        @include font-applying(14px, $font-text, 400);
        color: #868686;
        float: left;
        padding-left: 10px;
        word-wrap: break-word;
    }
    .guide-read-more {
        margin-top: 20px;
        width: 100%;
        float: left;
        text-align: right;
        padding-right: 10px;
        @include font-applying(13px, $font-text, 500);
        color: #1975e8;
        text-decoration: none;
        @include transition(all 0.3s ease 0s);
        &:hover {
            color: #000000;
            text-decoration: none;
        }
    }
}

.guide-like-pic {
    width: 100%;
    border-radius: 5px;
    float: left;
    height: 262px;
    max-height: 262px;
    max-width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.blog-sp-bord {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 60px;
    margin-bottom: 0px !important;
}