@include lg {
    // .blog-list-sp-padding {
    //     padding: 0 30px;
    // }
    .blog-listing-head .div-wide-sp {
        width: 20%;
    }
    .blog-listing-head {
        padding: 30px 0 30px 0;
    }
    .guide-like-wrap h4 {
        width: 59%;
    }
    .guide-like-wrap h5 {
        width: 41%;
    }
    .blog-detail-wrapper {
        margin-bottom: 50px;
        .blog-banner-pic {
            width: 89%;
            max-width: 89%;
        }
        .blog-detail-wrapper-new {
            h4 {
                padding: 20px 0px 35px 0px;
                font-size: 50px;
            }
            h6 {
                padding: 0 0px 40px;
            }
            p {
                padding: 0 0 10px;
            }
            h3 {
                padding: 0 0 10px;
            }
            .blog-pic-3 {
                margin: 40px 0 0;
            }
            span {
                padding: 40px 0 60px 20px;
            }
            .row {
                img {
                    min-width: 100%;
                    min-height: 250px;
                    max-width: 100%;
                    max-height: 250px;
                    margin: 100px 0 0 0;
                    float: left;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    overflow: hidden;
                }
            }
        }
    }
}

@include md {
    // .blog-list-sp-padding {
    //     padding: 0 30px;
    // }
    .blog-listing-head {
        padding: 30px 0 30px 0;
        flex-flow: row wrap;
        h1 {
            width: 70%;
        }
        .div-wide-sp {
            width: 30%;
        }
        // .has-search .form-control {
        //     width: 70%;
        // }
    }
    .guide-like-wrap h4 {
        width: 60%;
    }
    .guide-like-wrap h5 {
        width: 40%;
    }
    .category-page-two {
        width: 100% !important;
        .product-filter {
            width: 154px;
            margin-right: 20px;
        }
    }
    .blog-detail-wrapper {
        margin-bottom: 50px;
        .blog-banner-pic {
            width: 89%;
            max-width: 89%;
        }
        .blog-detail-wrapper-new {
            h4 {
                padding: 20px 0px 35px 0px;
                font-size: 50px;
            }
            h6 {
                padding: 0 0px 40px;
            }
            p {
                padding: 0 0 10px;
            }
            h3 {
                padding: 0 0 10px;
            }
            .blog-pic-3 {
                margin: 40px 0 0;
            }
            span {
                padding: 40px 0 60px 20px;
            }
            .row {
                img {
                    min-width: 100%;
                    min-height: 250px;
                    max-width: 100%;
                    max-height: 250px;
                    margin: 100px 0 0 0;
                    float: left;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    overflow: hidden;
                }
            }
        }
    }
    .guide-like-wrapper {
        justify-content: space-between;
        .guide-like-wrap {
            width: 47%;
        }
    }
}

@include sm {
    .product-listing-head {
        .inner-heading {
            font-size: 50px;
            padding-top: 20px;
        }
    }
    .blog-list-sp-padding {
        // padding: 0 15px;
        justify-content: space-between;
        .guide-like-wrap {
            width: 49%;
        }
    }
    .blog-listing-head {
        padding: 30px 10px;
        flex-flow: row wrap;
    }
    .guide-like-wrap h4 {
        width: 100%;
    }
    .guide-like-wrap h5 {
        width: 100%;
    }
    .product-listing-head {
        height: auto;
        justify-content: center;
    }
    .category-page-two {
        width: 100% !important;
        flex-flow: row wrap;
        .product-filter {
            width: 45%;
            margin-right: 10px;
            padding-top: 10px;
        }
        .product-filter:nth-child(3) {
            padding-bottom: 20px;
            margin-right: 20px;
        }
        .product-filter:nth-child(4) {
            padding-bottom: 20px;
        }
        .product-filter:nth-child(1) {
            padding-bottom: 20px;
            margin-right: 20px;
        }
    }
    .blog-listing-head {
        padding: 30px 0 30px 0;
        flex-flow: row wrap;
        h1 {
            width: 70%;
        }
        .div-wide-sp {
            width: 30%;
        }
        // .has-search .form-control {
        //     width: 70%;
        // }
    }
    .blog-detail-wrapper {
        margin-bottom: 40px;
        .blog-banner-pic {
            width: 89%;
            max-width: 89%;
            min-height: 300px;
            max-height: 300px;
        }
        .blog-detail-wrapper-new {
            width: 100%;
            padding: 0 30px;
            h4 {
                padding: 20px 0px 35px 0px;
                font-size: 32px;
            }
            h6 {
                padding: 0 0px 40px;
            }
            p {
                padding: 0 0 10px;
            }
            h3 {
                padding: 0 0 10px;
                font-size: 24px;
            }
            .blog-pic-3 {
                margin: 40px 0 0;
            }
            span {
                padding: 40px 0 60px 20px;
            }
            .row {
                img {
                    min-width: 100%;
                    min-height: 250px;
                    max-width: 100%;
                    max-height: 250px;
                    margin: 100px 0 0 0;
                    float: left;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    overflow: hidden;
                }
            }
        }
    }
    .guide-like-wrapper {
        justify-content: space-between;
        .guide-like-wrap {
            width: 48%;
            min-height: 440px;
            .guide-like-pic {
                height: 190px;
                max-height: 190px;
            }
        }
    }
}

@include xs {
    .product-listing-head {
        .inner-heading {
            font-size: 50px;
            padding-top: 20px;
        }
    }
    .blog-list-sp-padding {
        // padding: 0 15px;
        justify-content: center;
        .guide-like-wrap {
            width: 100%;
            .guide-read-more {
                margin-top: 5px;
            }
        }
    }
    .guide-like-wrapper {
        margin-bottom: 28px;
    }
    .guide-like-wrap h4 {
        width: 100%;
    }
    .guide-like-wrap h5 {
        width: 100%;
    }
    .product-listing-head {
        height: auto;
        justify-content: center;
    }
    .category-page-two {
        width: 100% !important;
        flex-flow: row wrap;
        .product-filter {
            width: 100%;
            margin-right: 0;
            padding-top: 20px;
        }
        .product-filter:nth-child(4) {
            padding-bottom: 30px;
        }
    }
    .blog-listing-head {
        padding: 30px 0 30px 0;
        flex-flow: row wrap;
        h1 {
            width: 100%;
            font-size: 25px;
        }
        .div-wide-sp {
            width: 275px;
            padding-top: 20px;
        }
        .has-search .form-control {
            margin-left: 10%;
        }
    }
    .blog-detail-wrapper {
        margin-bottom: 0px;
        .blog-banner-pic {
            width: 89%;
            max-width: 89%;
            min-height: 200px;
            max-height: 200px;
        }
        .blog-detail-wrapper-new {
            width: 100%;
            padding: 0 15px;
            h4 {
                padding: 20px 0px 35px 0px;
                font-size: 25px;
            }
            h6 {
                padding: 0 0px 40px;
            }
            p {
                padding: 0 0 10px;
                font-size: 14px;
            }
            h3 {
                padding: 0 0 10px;
                font-size: 22px;
            }
            .blog-pic-3 {
                margin: 40px 0 0;
            }
            span {
                padding: 40px 0 60px 0;
                font-size: 15px;
            }
            img {
                min-height: 250px;
                max-height: 250px;
            }
            .row {
                .col-sm-6 {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    img {
                        min-width: 60%;
                        min-height: 150px;
                        max-width: 60%;
                        max-height: 150px;
                        margin: 10px 0;
                    }
                }
            }
        }
        .blog-social-share {
            width: 36px;
        }
    }
    .guide-may-like {
        h4 {
            font-size: 20px;
            padding-top: 5px;
            padding: 20px 11.5%;
        }
    }
    .guide-like-wrapper {
        justify-content: center;
        .guide-like-wrap {
            width: 100%;
            max-width: 350px;
            min-height: 420px;
            h4 {
                padding: 10px 10px;
                font-size: 18px;
                margin-bottom: 0;
            }
            // .guide-like-pic {
            //     height: 190px;
            //     max-height: 190px;
            // }
            h3 {
                font-size: 18px;
            }
            .guide-read-more {
                margin-top: 10px;
            }
        }
    }
}