// contact-us-page
.contact-us-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.contact-form-sec {
    width: 66%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 100px 0 130px 0;

    .contact-us-form{
        width: 490px;
        margin: 0 auto;
    }
    h3{
        @include font-applying(70px, $font-text, 300);
        color: #000000;
        text-transform: uppercase;
        text-align: start;
        word-wrap: break-word;
        width: 100%;
        padding-bottom: 8px;
        padding-left: 7.5px;
    }
    p{
        @include font-applying(16px, $font-text, 300);
        color: #262F2C;
        text-align: start;
        word-wrap: break-word;
        padding-left: 12px;
        width: 100%;
        margin-bottom: 5px;
    }
    .form-contact-wrap{
        padding: 50px 0 0 0;
    }
    .contact-submit-butn{
        width: 200px;
        float: left;
        margin-left: 7.5px;
    }
}
.contact-delivery-sec {
    width: 34%;
    padding: 130px 0 200px;
    background-color: #F2F2F2;
    display: flex;
    flex-flow: column wrap;

    .contact-delivery-conatent{
        width: 230px;
        margin: 0 auto;
    }
    h3{
        @include font-applying(22px, $font-text, 500);
        color: #262F2C;
        text-transform: uppercase;
        text-align: start;
        word-wrap: break-word;
        width: 100%;
        padding-bottom: 7px;
        padding-top: 20px;
    }
    p{
        @include font-applying(16px, $font-text, 300);
        color: #262F2C;
        text-align: start;
        word-wrap: break-word;
        width: 100%;
        padding-top: 10px;
    }
    a {
        @include transition(all 0.2s ease 0s);
        color: #df3b2f;
        text-decoration: underline;
        &:hover {
            color: #262f2c;
            text-decoration: none;
        }
    }
}