.my-cart-main-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.my-cart-wrapper {
    width: 1186px;
    height: auto;
}

.cart-first-container {
    float: left;
    width: 65.64%;
    height: auto;
}

.cart-main-heading {
    padding: 54px 10px 35px 10px;
}

.cart-main-head-style {
    margin-bottom: 0px;
    text-transform: uppercase;
    text-align: center;
    @include font-applying(48px, $font-text, 300);
    color: #262f2c;
}

.table-wrapper {
    margin-top: 48px;
    margin-bottom: 0px;
    thead {
        @include font-applying(12px, $font-text, 500);
        color: #3e3e3e;
        tr {
            border-bottom: 1px solid #dddddd;
            border-top: none;
            th:nth-child(1) {
                width: 386px;
                min-height: 103px;
                border-bottom: none;
                border-top: none;
            }
            th:nth-child(2) {
                width: 99px;
                min-height: 103px;
                border-bottom: none;
                border-top: none;
            }
            th:nth-child(3) {
                width: 175px;
                min-height: 103px;
                border-bottom: none;
                border-top: none;
            }
            th:nth-child(4) {
                width: 120px;
                min-height: 103px;
                border-bottom: none;
                border-top: none;
            }
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid #dddddd;
            td {
                vertical-align: middle;
                p {
                    margin-bottom: 0;
                }
            }
            td:nth-child(1) {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                border-top: none;
                img {
                    // float: left;
                    min-width: 81.5px;
                    min-height: 67px;
                    max-width: 81.5px;
                    max-height: 72px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                }
                a {
                    // float: left;
                    min-width: 230px;
                    padding-left: 45px;
                    text-decoration: underline;
                    color: #3687d3;
                    @include font-applying(12px, $font-text, 500);
                    &:hover {
                        color: #3e3e3e;
                        @include transition;
                    }
                }
            }
            td:nth-child(2) {
                @include font-applying(12px, $font-text, 600);
                color: #3e3e3e;
            }
            td:nth-child(3) {
                .quantity-input-cont {
                    margin-top: 0;
                    width: 88px;
                    border: 1px solid #aaaaaa;
                    // for quantity input
                    .input-number {
                        width: 40px;
                        height: 40px !important;
                        vertical-align: middle;
                        text-align: center;
                        outline: none;
                        border: none;
                        padding-top: 0;
                    }
                    // .input-number,
                    // .input-number-decrement,
                    // .input-number-increment {
                    //     // border: 1px solid #ccc;
                    //     // user-select: none;
                    // }
                    .input-number-decrement,
                    .input-number-increment {
                        display: inline-block;
                        width: 18px;
                        line-height: 38px;
                        color: #3e3e3e;
                        text-align: center;
                        @include font-applying(14px, $font-text, 600);
                        cursor: pointer;
                        // &:active {
                        //     background: #3e3e3e;
                        // }
                    }
                    .input-number-decrement {
                        border: none;
                    }
                    .input-number-increment {
                        border: none;
                    }
                }
            }
            td:nth-child(4) {
                .cart-rate {
                    @include font-applying(12px, $font-text, 600);
                    color: #3e3e3e;
                }
                .cart-cross {
                    float: right;
                    margin-left: 10px;
                    width: 14px;
                    height: 14px;
                    border-radius: 7px;
                    background-color: #3687d3;
                    color: #ffffff;
                    @include font-applying(11px, $font-text, 600);
                    // padding-left: 3.3px;
                    text-align: center;
                    line-height: 1.2;
                    &:hover {
                        text-decoration: none;
                        color: #3e3e3e;
                    }
                }
            }
        }
    }
}

.cart-scnd-container {
    float: left;
    width: 34.35%;
    height: auto;
    padding-left: 57px;
    margin-bottom: 40px;
    z-index: 100;
}

.cart-scnd-wrapper {
    min-height: 330px;
    margin-top: 145px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0px 4px 16px 0px rgb(0 0 0 / 4%);
}

.order-summary-heading {
    padding-top: 50px;
    text-transform: uppercase;
    @include font-applying(22px, $font-text, 500);
    color: #262f2c;
    text-align: center;
}

.order-summary-price {
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    a {
        @include font-applying(11px, $font-text, 400);
        color: #4e4e4e;
        float: left;
        text-decoration: none;
        margin-bottom: 0px;
        padding-bottom: 10px;
        padding-left: 22%;
        &:hover {
            color: #4e4e4e;
            text-decoration: none;
        }
    }
    .input-group {
        width: 200px;
        height: 30px;
        margin-left: 60px;
        .form-control {
            height: 30px;
            width: 125px;
            font-size: 12px;
        }
    }
    .input-group-append {
        width: 59px;
        height: 30px;
        .imp-btn-new {
            min-width: 59px;
            height: 30px;
            border-top-right-radius: 5px !important;
            border-bottom-right-radius: 5px !important;
        }
    }
    .cross-up-discount {
        color: #4E4E4E;
        @include font-applying(18px, $font-text, 400);
        // line-height: 1;
        padding-left: 7px;
    }
}

.order-sum-price-1 {
    float: left;
    padding-right: 22.41px;
    padding-bottom: 10px;
    width: 50%;
    text-align: end;
    @include font-applying(14px, $font-text, 400);
    color: #4e4e4e;
    margin-bottom: 0px;
}

.order-sum-price-2 {
    float: right;
    padding-left: 12px;
    padding-bottom: 10px;
    width: 50%;
    text-align: start;
    @include font-applying(14px, $font-text, 400);
    color: #575757;
    margin-bottom: 0px;
}

.order-sum-price-7 {
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    padding-right: 22.41px;
    text-align: end;
    width: 50%;
    @include font-applying(14px, $font-text, 700);
    color: #4e4e4e;
}

.order-sum-price-8 {
    float: right;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    width: 50%;
    padding-left: 12px;
    text-align: start;
    @include font-applying(14px, $font-text, 700);
    color: #575757;
}

.hr-sp-class {
    float: left;
    width: 57%;
    margin-left: 21.5%;
    border: 1px solid #dddddd;
}

.check-out-butn-wraper {
    padding: 30px 0px 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-out-butn {
    width: 200px;
}

// check-box
.my-cart-check-box {
    padding-top: 15px;
    .ch-box-2 {
        min-width: 160px;
        float: left;
        padding-right: 15px;
    }
    .form-group {
        display: block;
        margin-bottom: 15px;
        height: 25px;
    }
    .form-group input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }
    .form-group label {
        position: relative;
        cursor: pointer;
        @include font-applying(14px, $font-text, 500);
        color: #909090;
    }
    .form-group label:before {
        width: 20px;
        height: 20px;
        content: "";
        -webkit-appearance: none;
        background-color: #f2f2f2;
        border: 1px solid #dddddd;
        border-radius: 3px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 12px;
    }
    .form-group input:checked+label:after {
        content: "";
        display: block;
        position: absolute;
        // top: 3px;
        // left: 7px;
        // width: 5.54px;
        // height: 11.88px;
        top: 6px;
        left: 8px;
        width: 4.88px;
        height: 8.54px;
        border: solid #909090;
        border-width: 2px 0px 0px 2px; // 0 2px 2px 0;
        transform: rotate(-135deg);
    }
}

// shipping-design
.sp-under-bor {
    padding: 64px 10px 25px 10px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0px;
}

.sp-top-set {
    padding-top: 70px !important;
}

.sp-bott-set {
    padding-bottom: 30px;
}

.shipping-main-heading {
    padding: 88px 99px 0 98px;
}

.sp-pad-new-left {
    padding-left: 105.5px;
}

.shipping-main-head-style {
    text-transform: uppercase;
    @include font-applying(22px, $font-text, 500);
    color: #262f2c;
}

.shipping-form-wrapper {
    height: auto;
    padding: 21px 99px 100px 98px;
}

.specific-form {
    .row {
        margin: 0px;
    }
    .col-sm-12 {
        // padding: 0px;
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
    .col-sm-6 {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
    .col-sm-4 {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
    // .col-sm-6:nth-child(1) {
    //     padding-left: 0px;
    //     padding-right: 13px;
    // }
    // .col-sm-6:nth-child(2) {
    //     padding-left: 13px;
    //     padding-right: 0px;
    // }
    // .col-sm-4:nth-child(4) {
    //     padding-left: 0px;
    //     padding-right: 7px;
    // }
    // .col-sm-4:nth-child(5) {
    //     padding-left: 0px;
    //     padding-right: 5px;
    // }
    // .col-sm-4:nth-child(6) {
    //     padding-left: 2px;
    //     padding-right: 0px;
    // }
    .form-group {
        margin-bottom: 10px;
    }
    .form-control {
        @include font-applying(14px, $font-text, 400);
        color: #868686;
        height: 42px;
        background-color: #f2f2f2;
    }
    .form-control:focus {
        color: #000;
        background-color: #f2f2f2;
        border-color: #1d1d1d;
        box-shadow: none;
    }
    textarea {
        min-height: 134px;
        resize: none;
    }
}

.cart-ship-butn {
    padding-top: 23px;
}

.ship-continue-butn {
    float: right;
    width: 200px;
}

// billing-design
.billing-main-heading {
    padding: 60px 0 12px 7.5px;
}

.sp-pad-new-left-1 {
    padding-left: 7.5px;
}

// payment-design
.under-border-sp-div {
    margin-top: 42px;
    border: 1px solid #dddddd;
}

.pay-oder-sum-wrap {
    border-top: 1px solid #dddddd;
    padding-top: 27px;
}

.pay-oder-detail-left {
    width: 100%;
    float: left;
}

.order-pay-1 {
    float: left;
    padding-right: 22.41px;
    padding-bottom: 10px;
    width: 80%;
    text-align: end;
    @include font-applying(14px, $font-text, 400);
    color: #4e4e4e;
    margin-bottom: 0px;
}

.order-pay-2 {
    float: right;
    padding-left: 12px;
    padding-bottom: 10px;
    width: 20%;
    text-align: start;
    @include font-applying(14px, $font-text, 400);
    color: #575757;
    margin-bottom: 0px;
}

.order-pay-3 {
    float: left;
    padding-right: 22.41px;
    padding-bottom: 10px;
    width: 80%;
    text-align: end;
    @include font-applying(14px, $font-text, 400);
    color: #4e4e4e;
    margin-bottom: 0px;
}

.order-pay-4 {
    float: right;
    padding-left: 12px;
    padding-bottom: 10px;
    width: 20%;
    text-align: start;
    @include font-applying(14px, $font-text, 400);
    color: #575757;
    margin-bottom: 0px;
}

.order-pay-5 {
    float: left;
    padding-right: 22.41px;
    padding-bottom: 10px;
    width: 80%;
    text-align: end;
    @include font-applying(14px, $font-text, 400);
    color: #4e4e4e;
    margin-bottom: 0px;
}

.order-pay-6 {
    float: right;
    padding-left: 12px;
    padding-bottom: 10px;
    width: 20%;
    text-align: start;
    @include font-applying(14px, $font-text, 400);
    color: #575757;
    margin-bottom: 0px;
}

.order-pay-7 {
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    padding-right: 22.41px;
    text-align: end;
    width: 80%;
    @include font-applying(14px, $font-text, 700);
    color: #4e4e4e;
}

.order-pay-8 {
    float: right;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    width: 20%;
    padding-left: 12px;
    text-align: start;
    @include font-applying(14px, $font-text, 700);
    color: #575757;
}

.hr-sp-pay {
    float: left;
    width: 44%;
    margin-left: 56%;
    border: 1px solid #dddddd;
}

.cart-pay-butn {
    padding-top: 37px;
}

.sign-up-right-side {
    padding-top: 30px;
}

.sign-up-side-form {
    .row {
        margin: 0px;
    }
    .col-sm-12 {
        padding-left: 21.36%;
        padding-right: 21.36%;
    }
    .form-control {
        @include font-applying(14px, $font-text, 400);
        color: #868686;
        height: 42px;
        background-color: #f2f2f2;
    }
    .form-control:focus {
        color: #000;
        background-color: transparent;
        border-color: #1d1d1d;
        box-shadow: none;
    }
}

.forgot-pass {
    text-align: center;
    text-decoration: underline;
    color: #1975e8;
    @include font-applying(14px, $font-text, 400);
    &:hover {
        color: #000;
    }
}

.sign-in-side-butn {
    padding-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.sign-in-side-butn-2 {
    padding-bottom: 30px;
    padding-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.sign-in-butn {
    width: 200px;
}

// order-confirmation-page
.for-center-div {
    display: flex;
    flex: row wrap;
    justify-content: center;
}

.order-confirm-heading {
    padding: 30px 24px 0 24px;
}

.order-confirm-wrapper {
    height: auto;
    padding: 0px 99px 100px 98px;
}

.order-detail {
    padding: 33px 24px 24px 24px;
    border-bottom: 1px solid #dddddd;
}

.payment-method-wrapper {
    float: left;
    width: 50%;
    height: auto;
}

.shipping-adress-details {
    float: left;
    width: 66%;
    height: auto;
}

.shipping-adress-butn {
    float: left;
    width: 33%;
    height: auto;
}

.adress-details-head {
    @include font-applying(14px, $font-text, 500);
    color: #262f2c;
    word-wrap: break-word;
}

.adress-details-para {
    padding-top: 7px;
    margin-bottom: 0px;
    @include font-applying(16px, $font-text, 300);
    color: #262f2c;
    word-wrap: break-word;
}

.shipping-adress-edit {
    @include font-applying(16px, $font-text, 400);
    color: #262f2c;
    text-decoration: underline;
    &:hover {
        color: #262f2c;
        text-decoration: underline;
    }
}

.order-place {
    padding: 24px;
    border-bottom: 1px solid #dddddd;
}

.order-place-head {
    @include font-applying(16px, $font-text, 500);
    color: #262f2c;
    word-wrap: break-word;
}

.order-place-pic {
    float: left;
    // width: 114px;
    width: 15.61%;
    height: 86px;
    margin: 18px 4% 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.order-place-text {
    padding-top: 25px;
    float: left;
    width: 59.5%;
    height: auto;
}

.order-place-anchor {
    @include font-applying(14px, $font-text, 300);
    color: #3687d3;
    text-decoration: underline;
    @include transition(all 0.3s ease 0s);
    &:hover {
        text-decoration: underline;
        color: #3e3e3e;
    }
}

.order-place-para {
    padding-top: 5px;
    word-wrap: break-word;
    @include font-applying(14px, $font-text, 300);
    color: #262f2c;
}

.order-place-price {
    float: right;
    width: 20.5%;
    height: auto;
    padding-top: 18px;
}

.order-place-rate {
    text-align: end;
    @include font-applying(16px, $font-text, 500);
    color: #262f2c;
}

.shipping-form-inputs {
    width: 100%;
    float: left;
}

.sp-wid-dev {
    width: 250px;
    float: right;
}

.order-place-summary {
    height: auto;
    padding: 35px 0px 50px 0px;
}

.ord-plc-left {
    width: 50%;
}

.ord-plc-right {
    width: 50%;
}

.ord-plc-line {
    width: 92%;
    margin-left: 4%;
}

.sp-wid-dev-2 {
    margin-right: 25px;
}