// my account-page
.my-account-wrapper {
    padding-top: 90px;
}
.my-account-left-side {
    width: 29.59%;
    min-height: 301px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 0 4 16 #000000;
    background-color: #ffffff;
}
.my-account-right-side {
    width: 70.41%;
    height: auto;
}