// thank you page
.thank-you-wrapper {
    width: 100%;
    height: 813px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
.thanks-alert-wrapper {
    width: 568px;
    min-height: 325px; /* 378 */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 16px 0px rgb(0 0 0 / 4%);
}
.thanks-heading {
    padding: 40px 15px 0 15px;
    text-align: center;
    word-wrap: break-word;
    @include font-applying(48px, $font-text, 300);
    color: #262f2c;
    text-transform: uppercase;
}
.thanks-para-bold {
    padding-left: 55px;
    padding-right: 55px;
    text-align: center;
    word-wrap: break-word;
    @include font-applying(16px, $font-text, 500);
    color: #262f2c;
}
.thanks-para-light {
    padding-left: 55px;
    padding-right: 55px;
    text-align: center;
    word-wrap: break-word;
    @include font-applying(16px, $font-text, 300);
    color: #262f2c;
}