.account-main {
    margin: 90px 0;
}

.account-list {
    border: 1px solid #dddddd;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
    margin-right: 20px;
    padding: 30px 35px 22px;
    .active {
        text-decoration: underline !important;
        font-weight: 700;
    }
    h2 {
        @include font-applying(22px, $font-text, 500);
        color: #262F2C;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
            margin-bottom: 5px;
            a {
                @include font-applying(14px, $font-text, 400);
                color: #4E4E4E;
                &:hover,
                &.active {
                    font-weight: 600;
                    text-decoration: none;
                }
            }
        }
    }
}

.account-head {
    border-bottom: 1px solid #DDDDDD;
    h1 {
        @include font-applying(22px, $font-text, 500);
        color: #262F2C;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
}

.profile-description {
    margin: 35px 0 0 0;
    p {
        margin-bottom: 30px;
    }
}

.account-form {
    width: 580px;
    .row {
        margin-left: -7.5px;
        margin-right: -7.5px;
        .col-md-6,
        .col-md-12,
        .col-md-3,
        .col-md-4,
        .col-md-2 {
            padding-left: 7.5px !important;
            padding-right: 7.5px !important;
        }
    }
    .form-group {
        margin-bottom: 15px;
    }
    .general-btn {
        width: 200px;
    }
}

.address-book-main {
    margin: 40px 0 0 0;
    justify-content: space-between;
    .address-book {
        width: 350px;
        // min-height: 308px;
        -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
        -moz-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
        border: 1px solid #dddddd;
        border-radius: 5px;
        padding: 25px 17px;
        @include font-applying(16px, $font-text, 300);
        color: $text-color;
        margin-bottom: 50px;
        h4 {
            @include font-applying(14px, $font-text, 500);
            position: relative;
            padding-right: 40px;
            margin-bottom: 25px;
            a {
                position: absolute;
                top: 0;
                right: 0;
                text-decoration: underline;
                @include font-applying(16px, $font-text, 400);
                color: $text-color;
            }
        }
        a {
            @include font-applying(16px, $font-text, 300);
            color: $text-color;
            text-decoration: underline;
        }
    }
    &.account-payment-main {
        .address-book {
            p {
                margin-bottom: 0;
                clear: both;
                span {
                    float: left;
                    width: 50%;
                    margin-bottom: 10px;
                    &:first-child {
                        font-weight: 500;
                        padding-right: 10px;
                    }
                }
            }
            a {
                display: inline-block;
                margin-top: 8px;
            }
        }
    }
}

.whats-this {
    display: inline-flex;
    align-items: center;
    height: 40px;
    position: relative;
    @include font-applying(14px, $font-text, 400);
    color: #868686;
    svg {
        margin-right: 5px;
    }
    img {
        position: absolute;
        top: 80%;
        left: -8px;
        display: none;
        max-width: 167px;
    }
    &:hover {
        img {
            display: block;
            z-index: 10;
        }
    }
}

.my-order-head {
    justify-content: space-between;
    h1 {
        @include font-applying(22px, $font-text, 500);
        text-transform: uppercase;
    }
}

.sort-orders {
    width: 65%; // 500px;
    select {
        width: 37%; // 185px;
        margin-right: 9px;
    }
    input {
        width: 40.5%; // 204px;
        margin-right: 3px;
    }
    .general-btn {
        min-width: 99px;
        height: 42px;
    }
}

.order-table {
    margin-top: 35px;
    table {
        table-layout: fixed;
        th {
            border-top: none;
            border-bottom: 1px solid #dddddd;
            font-weight: 500;
            vertical-align: middle;
        }
        td {
            border-top: none;
            border-bottom: 1px solid #dddddd;
            @include font-applying(14px, $font-text, 400);
            color: #868686;
            vertical-align: middle;
        }
    }
}

.order-breadcrumb {
    @include font-applying(14px, $font-text, 400);
    color: #868686;
    justify-content: space-between;
    margin-top: 15px;
    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
            display: inline-block;
            padding-left: 12px;
            a {
                @include font-applying(14px, $font-text, 400);
                color: #868686;
                &:hover {
                    text-decoration: none;
                }
                &.active {
                    text-decoration: underline;
                }
            }
        }
    }
}

.my-cart-main-wrapper {
    &.order-detail-wrapper {
        .my-cart-wrapper {
            width: 100%;
            .cart-first-container {
                width: 100%;
                .order-confirm-heading {
                    padding: 0 0 0 0;
                }
                .order-detail {
                    padding: 33px 0 24px 0;
                }
            }
        }
    }
}

.preview {
    &:hover {
        text-decoration: none;
        svg {
            path {
                fill: #959595;
            }
        }
    }
}