*{
    word-wrap: break-word !important;
}
body{
    @include font-applying(16px, $font-text, 400 ); 
    color: $text-color;
}
.div-float{
    float: left;
    width: 100%;
    height: auto;
}
.div-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.container{
    max-width: 1200px;
}
a:focus, button:focus, div:focus{
	-webkit-highlight: none !important;
  -webkit-tap-highlight-color: transparent !important; 
	box-shadow: none !important;
	outline: 0px !important; 
}
%bg-img{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.general-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    min-width: 136px;
    color: #fff;
    background-color: $primary-color;
    text-transform: uppercase;
    border: none;
    @include border-radius(5px, 5px, 5px, 5px);
    @include transition(all 0.3s ease 0s);
    @include font-applying(14px, $font-text, 500);
    padding: 0 15px;

    &:hover{
        background-color: #000000;
        color: #fff;
        text-decoration: none;
    }
}
.general-btn-2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    min-width: 136px;
    color: #000000;
    background-color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    @include border-radius(5px, 5px, 5px, 5px);
    @include transition(all 0.3s ease 0s);
    @include font-applying(14px, $font-text, 500);
    padding: 0 15px;

    &:hover{
        background-color: #000000;
        color: #fff;
        text-decoration: none;
    }
}
input.form-control {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #868686;
    height: 42px;
    background-color: #F2F2F2;
    border: 1px solid #DDDDDD;
    @include border-radius(5px, 5px, 5px, 5px);
    box-shadow: none;

    &:focus {
        color: #000;
        background-color: #F2F2F2;
        border-color: #1d1d1d;
        box-shadow: none;
    }
}
select.form-control {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #868686;
    height: 42px;
    background-color: #F2F2F2;
    border: 1px solid #DDDDDD;
    box-shadow: none;
    @include border-radius(5px, 5px, 5px, 5px); 
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none; 
    background-image: url('../images/carret-down.png');
    background-repeat: no-repeat;
    background-position: 95% center;

    &.select-arrow {
        background-position: 96.5% center;
    }


    &:focus {
        color: #000;
        background-color: #F2F2F2;
        border-color: #1d1d1d;
        box-shadow: none;
    }
}
.section-heading{
    @include font-applying(60px, $font-text, 300);
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}
.error{
    color: red;
    margin: 3px 0 0 0;
    @include font-applying(14px, $font-text, 400);
}

// counter spinner 
.quantity-input-cont {
    margin-top: 12px;
    width: 88px;
    border: 1px solid #aaaaaa;

    // for quantity input

    .input-number {
        width: 40px;
        height: 32px !important;
        padding: 5px 5px 0;
        vertical-align: top;
        text-align: center;
        outline: none;
        border: none;
    }

    // .input-number,
    // .input-number-decrement,
    // .input-number-increment {
    //     // border: 1px solid #ccc;
    //     // user-select: none;
    // }
    .input-number-decrement,
    .input-number-increment {
        display: inline-block;
        width: 18px;
        line-height: 38px;
        color: #3e3e3e;
        text-align: center;
        @include font-applying(14px, $font-text, 600);
        cursor: pointer;
        // &:active {
        //     background: #3e3e3e;
        // }
    }
    .input-number-decrement {
        border: none;
    }
    .input-number-increment {
        border: none;
    }
}
.blog-detail-section{
    max-width: 1375px;
    margin: 0 auto;
}
.multi-radio {
    width: 100%;
    .form-group {
        float: left;
        margin-right: 1rem;
        &:last-child {
            margin-right: 0;
        }
    }
}
.consult-frm {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.quantity-input-cont {
	-webkit-highlight: none !important;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    * {
        -webkit-highlight: none !important;
        -webkit-tap-highlight-color: transparent !important;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

select {
    &.form-control {
        &.red-select {
            color: #FFF;
            background-color: #df3b2f;
            background-image: url("../images/carret-down-white.png");
            &:focus {
                color: #FFF;
                background-color: #df3b2f;
            }
        }
    }
}

.color{
    &-blue {
        color: #1975E8!important;
    }
}

.store-hours {
    margin: 30px 0 -8px 0;
    .footer-head {
        margin: 0 0 8px 0 !important;
    }
    p {
        margin-bottom: 0;
    }
}

.full-content-sec {
    padding: 20px 0 45px 0;
    font-size: 22px;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    text-align: center;
}
