header {
    background-color: #000000;
    .navbar {
        padding: 0 0;
        height: 86px;

        .navbar-toggler {
            background-image: url('../images/navbar.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 25px;
            height: 18px;
        }

        .navbar-left {
            .nav-item {
                padding: 5px 15px;
                .nav-link {
                    @include font-applying(14px, $font-text, 400);
                    color: #fff;
                    text-transform: uppercase;
                    padding: 0 0;
                }

                .dropdown-item{
                    @include font-applying(14px, $font-text, 400);
                }
            }
        }
        .navbar-right {
            .nav-item {
                padding: 5px 10px;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 1px;
                    height: 100%;
                    background-color: #333333;
                }

                &:first-child {
                    padding: 5px 10px 5px 0;
                    &:before {
                        display: none;
                    }
                }
                &:last-child {
                    padding: 5px 0 5px 10px;
                }

                .nav-link {
                    padding: 0 0;
                    position: relative;
                }
            }
            .account-owner{
                position: absolute;
                font-size: 11px;
                top: -24px;
                left: -40px;
                min-width: 100px; 
                text-align: center;
                color: white;
            }
            .cart-counter {
                display: inline-block;
                min-width: 23px;
                height: 23px;
                color: #fff;
                background-color: #363636;
                @include font-applying(13px, $font-text, 400);
                @include border-radius(50%, 50%, 50%, 50%);
                text-align: center;
                padding-top: 2px;
            }
        }
    }
}

// search
.search-main-wrapper {
    width: 1125px;
    height: auto;
    background-color: #ffffff;
    position: absolute;
    top: 77px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;

    .form-control {
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #dddddd;
        height: 70px;
        width: 100%;
        color: #000;
        @include font-applying(20px, $font-text, 300);
    }
    input.form-control:focus {
        color: #000;
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
    }
    .serach-over-flow-wrap{
        width: 100%;
        height: 450px;
        overflow: scroll;
    }
    .search-container {
        width: 96%;
        min-height: 225px;
        padding: 0;
        margin: 0 2%;
        display: flex;
        flex-flow: row wrap;
        .srch-pic-holder {
            width: 13%;
            height: auto;
            overflow: hidden;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            overflow: hidden;
        }
        .search-data-cont {
            width: 73%;
            padding: 8px 10px 11px 30px;
            h3 {
                @include font-applying(22px, $font-text, 500);
                color: #262f2c;
                text-transform: uppercase;
                text-align: start;
                word-wrap: break-word;
                width: 100%;
                padding: 0 0 11px 0;
            }
            p {
                @include font-applying(14px, $font-text, 400);
                color: #868686;
                text-align: start;
                word-wrap: break-word;
                width: 100%;
                padding: 0 0 20px 0;
            }
            a {
                @include font-applying(12px, $font-text, 500);
                color: #909090;
                text-align: start;
                word-wrap: break-word;
                width: 100%;
                text-decoration: none;
                &:hover {
                    color: #df3b2e;
                    text-decoration: none;
                }
            }
        }
        .search-data-price {
            width: 14%;
            display: flex;
            flex-flow: row wrap;
            justify-content: end;
            align-items: center;
            h4 {
                @include font-applying(18px, $font-text, 700);
                color: #1975e8;
                text-align: end;
                word-wrap: break-word;
                width: 100%;
                padding-right: 15px;
                padding-bottom: 30px;
            }
        }
    }
}
.search-sp-hr {
    width: 94%;
    height: 1px;
    background-color: #dddddd;
}
.search-arrow-set{
    position: absolute;
    top: -2.5%;
    right: 8.5%;
    width: 33px;
    height: 13px;
    max-width: 33px;
    max-height: 13px;
    background-image: url('../images/search-arrow.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}
