$font-text: 'Poppins', sans-serif ;
$text-color: #3c3c3c;
$primary-color: #df3b2f;
$secondary-color: #fbbc05;

// Responsive Variables
$xsmall: 575px; // 576
$small: 767px; // 768
$medium: 991px; // 992
$large: 1199px; // 1200
$xlarge: 1200px;  