$dark_primary: #39233d;
$new_primary_color: #321f35;
$primary_color: #321f35;
$head_color: #331b35;
$body_color:#ffffff; 
$text_color: #404040; 
$semi_bold:600;
$bold:bold; 
$white: #ffffff;
$black: #000;
$ease_transition:all .3s ease;
$form_input: #727272;

// font families
$font_nav_text: 'ITC Avant Garde Gothic Std';
$font_text: 'ITC Avant Garde Gothic Std Book';
$font_heading: 'NanumMyeongjo';
$font_para: 'ITC Avant Garde Gothic Std Book';
$font_bold: 'ITC Avant Garde Gothic Std Demi';

// Responsive Variables
$xsmallR: 575px; // 576
$smallR: 767px; // 768
$mediumR: 991px; // 992
$largeR: 1199px; // 1200
$xlargeR: 1200px;
